html {
    --purple: #2c0045;
    --pink: #ff7878;
    --yellow: #ffba26;
    --orange: #ff9100;
    --pink-light: #fcb99d;
    --orange-dark: #d94100;
    --font-sans-serif: 'Josefin Sans', sans-serif;
}

body {
    font-family: var(--font-sans-serif);
    background-color: var(--pink-light);
}