body {
    font-family: sans-serif;
}

div.total {
    display: flex;
    margin: 1rem 0;
}

div.total p {
    margin: 10px 5px;
}

#calcApp {
    background-color: lightblue;
    border: 1px solid black;
    width: fit-content;
    padding: 1rem; 
}

input {
    width: 30%;
    margin: 0 1rem 1rem 0; 
}

select {
    margin-right: 1rem;
}