html {
    --purple: #2c0045;
    --orange: rgb(245, 126, 16);
    --beige: rgb(240, 193, 149);
    --purple-light: #d5a9f3;
    --blue: rgb(157, 195, 252);
    --blue-dark: rgb(2, 35, 126);
    --font-cursive: 'Shadows Into Light', cursive;
}

body {
    font-family: var(--font-cursive);
    padding: 1rem;
}
