<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning About Llamas</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet"> 
    <link href="main.css" rel="stylesheet">
</head>
<body>
    <div id="llamas">
        <h1>Learning About Llamas</h1>
        <ul>
            <li v-for="fact in factsArray">{{fact}}</li>
            <li>Llamas can <span v-if="habitat==='ocean'">breathe underwater</span><span v-else>go to space</span></li>
            <li>{{extra}}</li>
        </ul>
        <p>Add your own llama fact: <input v-model="extra" placeholder="add here"> </p>
    </div>
    <script src="main.js"></script>
</body>
</html>