<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garden Flowers</title>
    <script src="https://unpkg.com/vue@3"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="main.css">
</head>
<body>
        <h1>Garden Flowers</h1>
        <div id="app" v-cloak>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Color</th>
                        <th>Height</th>
                        <th>Image</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(flower, idx) in flowers" :class="{odd: (idx + 1) % 2 !== 0}" v-cloak>
                        <td>{{flower.name}}</td>
                        <td>{{flower.type}}</td>
                        <td>{{flower.color}}</td>
                        <td>{{flower.height}}</td>
                        <td><img :src="flower.image" :alt="flower.name" v-cloak></td>
                        <td><button class="delete" type="button" v-on:click="deleteFlower(flower)">Delete</button></td>
                    </tr>
                </tbody>
            </table>
            <form v-on:submit.prevent="submitHandler">
                <fieldset>
                    <legend>Add a flower</legend>
                    <div class="flower-form">
                        <div class="flower flower-name">
                            <label for="name">Flower Name
                                <input id="name" type="text" v-model="newFlower.name">
                            </label>
                        </div>
                        <div class="flower flower-type">
                            <label for="chooseType">Flower Type
                                <select id="chooseType" v-model="newFlower.type">
                                <option v-for="flowerType in flowerTypes" key="flowerType.value" :value="flowerType.value">{{flowerType.name}}</option>
                            </select>
                            </label>
                        </div>
                        <div class="flower flower-color">
                            <label for="color">Flower Color
                                <input id="color" type="text" v-model="newFlower.color">
                            </label>
                        </div>
                        <div class="flower flower-height">
                            <label for="chooseHeight">Flower Height
                                <select id="chooseHeight" v-model="newFlower.height">
                                    <option v-for="flowerHeight in flowerHeights" key="flowerHeight.value" :value="flowerHeight.value">{{flowerHeight.name}}</option>
                                </select>
                            </label>
                        </div>
                        <div class="flower flower-image">
                            <label for="image">Image (URL)
                                <input id="image" type="text" v-model="newFlower.image">
                            </label>
                        </div>
                        <div class="flower flower-button">
                            <button type="submit" :disabled="!isValid()">Add Flower</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    <script src="main.js"></script>
</body>
</html>