<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garden Flowers</title>
    <script src="https://unpkg.com/vue@3"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="main.css">
</head>
<body>
        <h1>Garden Flowers</h1>
        <div id="app" v-cloak>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Color</th>
                        <th>Height</th>
                        <th>Image</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(value, idx) in flowers" :class="{odd: (idx + 1) % 2 !== 0}" v-cloak>
                        <td>{{value.name}}</td>
                        <td>{{value.type}}</td>
                        <td>{{value.color}}</td>
                        <td>{{value.height}}</td>
                        <td><img :src="value.image" :alt="value.name" v-cloak></td>
                        <td><button type="button" v-on:click="deleteFlower(flower)">Delete</button></td>
                    </tr>
                </tbody>
            </table>
            <form v-on:submit.prevent="submitHandler">
                <fieldset>
                    <legend>Add a flower</legend>
                    <div>
                        <label for="name">Flower Name
                            <input id="name" type="text" v-model="newFlower.name">
                        </label>
                    </div>
                    <div>
                        <label for="type">Flower Type
                            <input id="type" type="text" v-model="newFlower.type">
                        </label>
                    </div>
                    <div>
                        <label for="color">Flower Color
                            <input id="color" type="text" v-model="newFlower.color">
                        </label>
                    </div>
                    <div>
                        <label for="height">Flower Height
                            <input id="height" type="text" v-model="newFlower.height">
                        </label>
                    </div>
                    <div>
                        <label for="image">Image (URL)
                            <input id="image" type="text" v-model="newFlower.image">
                        </label>
                    </div>
                    <button type="submit" :disabled="!isValid()">Add Flower</button>
                </fieldset>
            </form>
        </div>
    <script src="main.js"></script>
</body>
</html>