html {
    --pink: #ff7878;
    --yellow: #ffba26;
    --green: #0c8827;
    --pink-light: #ffeee7;
    --pink-dark: #cc0235;
    --font-sans-serif: 'Poppins', sans-serif;
}

body {
    font-family: var(--font-sans-serif);
    margin: auto;
    width: 100%;
}

img {
    max-width: 200px;
    padding: 1rem 1rem 1rem 0;
}

h1 {
    margin: 0;
    padding: 1rem;
    background-color: var(--pink-dark);
    color: white;
    font-size: 3rem;
}

table {
    border-collapse: collapse;
    width: 100%;
    overflow: hidden;
}

th {
    font-weight: 700;
    background-color: var(--yellow);
    font-size: 1.5rem;
}

tr {
    text-align: left;
    padding: 0 1rem;
    font-size: 1.2rem;
}

td, th {
    padding: 1.2rem; 
    
}

button {
    padding: .2rem .5rem;
}

.odd {
    background-color: var(--pink-light);
}

#app {
    margin: auto;
    
}

[v-cloak] {
    display: none;
}

form {
    width: 100%;
}

.flower-form {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
}

.flower {
    padding: 0 3rem 0 0;
}

.flower input, .flower select {
    display: block;
    margin-top: .5rem;
}

.flower-color input {
    max-width: 15rem;
}

.flower-button {
    padding-top: 1.7rem;
    margin-left: 4rem;
}

.delete {
    font-size: 1rem;
}